<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<style type="text/css">
    body {
        margin-left:20px;
        width:2000px;
        height: 1080px;
    }

    input {
        width: 800px;
    }

    .registration-panel, .chart-panel {
        width: 1000px;
        float: left;
        display: inline-block;
        height: 30px;
    }

    .account-panel, .transaction-panel {
        float: left;
        display: inline-block;
        margin-top: 700px;
    }

    .transaction-panel{
        margin-left: 200px;
    }



</style>

<h:head>
    <title>JSF Mockva</title>
</h:head>

<h:body>
    <!--    <p:messages id="message" showDetail="false" closable="true" style="width: 35%; float:right;"/>-->

    <div class="registration-panel">
        <h:form id="regis-form">
            <p:tooltip/>
            <h:panelGrid id="grid" columns="3" cellpadding="20">

                <f:facet name="header">
                    <div align="center">
                        <span>Register Account</span>
                    </div>
                </f:facet>

                <p:outputLabel for="input-id" value="Id:"/>
                <p:inputText id="input-id" required="true" value="#{normal.inputId}"/>
                <p:message id="input-id-message" for="input-id" display="icon"/>

                <p:outputLabel for="input-name" value="Name:"/>
                <p:inputText id="input-name" required="true" value="#{normal.inputName}"/>
                <p:message id="input-name-message" for="input-name" display="icon"/>

                <p:outputLabel for="input-address" value="Address:"/>
                <p:inputText id="input-address" value="#{normal.inputAddress}"/>
                <p:message for="input-address"/>

                <p:outputLabel for="input-birthdate" value="Birthdate:"/>
                <p:datePicker id="input-birthdate" value="#{normal.inputBirthDate}" required="true"/>
                <p:message id="input-birthdate-message" for="input-birthdate" display="icon"/>

                <p:outputLabel for="input-negative-ballance" value="Allow Negatif Ballance:"/>
                <p:selectOneRadio id="input-negative-ballance" value="#{normal.allowNegativeBallance}"
                                  unselectable="true">
                    <f:selectItem itemLabel="Yes" itemValue="True"/>
                    <f:selectItem itemLabel="No" itemValue="False"/>
                </p:selectOneRadio>
            </h:panelGrid>

            <p:commandButton id="submit-button" value="Submit" update="grid account-form regis-messages"
                             styleClass="p-mt-3" style="margin-left: 20px; margin-top: 20px;"
                             actionListener="#{normal.submit}"
            />

            <p:growl id="regis-messages" life="2000" showDetail="false"/>


        </h:form>

        <div class="upload-panel">
            <h:form id="upload-form" enctype="multipart/form-data"
                    style="width: 400px; height: 70px; margin-top: 25px;">
                <p:fileUpload mode="advanced" listener="#{uploadView.handleFileUpload}"
                              update="upload-messages account-form" value="#{uploadView.file}" auto="true"/>

                <p:growl id="upload-messages" showDetail="true"/>
            </h:form>
        </div>
    </div>

    <div class="chart-panel">
        <p:lineChart id="chart-data" model="#{chartJsView.lineModel}" style="margin-left: 70px"/>
    </div>



    <div class="account-panel">
        <h:outputText id="selected" value="#{normal.allNegBallFilter}"/>

        <h:form id="account-form" style="width: 900px;">
            <p:dataTable id="account-table" var="account" value="#{normal.allAccount}" showGridlines="true"
                         paginatorPosition="bottom" rows="5" paginator="true"
                         widgetVar="accountsTable" emptyMessage="No account found with given criteria" style="width: 1000px;">

                <f:facet name="header">
                    <div align="center">
                        <span>Accounts</span>
                    </div>
                </f:facet>

                <p:column headerText="Account ID" filterBy="#{account.accountId}" filterMatchMode="contains">
                    <h:outputText value="#{account.accountId}"/>
                </p:column>

                <p:column id="account-name" headerText="Name" filterBy="#{account.name}" filterMatchMode="contains">
                    <h:outputText value="#{account.name}"/>
                </p:column>

                <p:column headerText="Ballance">
                    <h:outputText value="#{account.balance}"/>
                </p:column>

                <p:column id="allowNegBall" headerText="Allow Negative Ballance" filterBy="#{account.allowNegBall}"
                          filterMatchMode="exact">

                    <f:facet name="filter">
                        <p:selectOneMenu id="filter-menu" onchange="PF('accountsTable').filter()">
                            <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItem itemLabel="True" itemValue="true"/>
                            <f:selectItem itemLabel="False" itemValue="false"/>
                        </p:selectOneMenu>
                    </f:facet>

                    <h:outputText value="#{account.allowNegBall}"/>

                </p:column>

                <p:column>
                    <p:commandButton id="transfer-button" value="Transfer"
                                     actionListener="#{normal.setTransferSrcId(account.accountId)}" update="dialog-form"
                                     onclick="PF('dlg').show();">
                    </p:commandButton>
                </p:column>

            </p:dataTable>
        </h:form>
    </div>


    <p:dialog id="dialogPanel" header="Transfer" widgetVar="dlg" modal="true">
        <h:form id="dialog-form">
            <h:panelGrid var="dialog" id="dialog-grid" columns="1" cellpadding="5" width="500">
                <p:tooltip/>

                <p:outputLabel value="From Account"/>
                <h:outputText id="source-account-name" value="#{normal.transferSrcId}"/>

                <p:outputLabel for="input-dstId" value="To Account:"/>
                <p:inputText id="input-dstId" required="true" value="#{normal.transferDstId}" autocomplete="off">
                    <p:ajax event="keyup" update="found-account-name" listener="#{normal.findNameByDstId}"/>
                </p:inputText>
                <h:outputText id="found-account-name" value="#{normal.foundAccountName}"/>


                <p:outputLabel for="input-amount" value="Amount:"/>
                <p:inputText id="input-amount" required="true" value="#{normal.transferAmount}"/>


            </h:panelGrid>

            <p:commandButton id="submit-dialog-button" value="Submit"
                             update="dialog-grid transaction-form chart-data dialog-messages"
                             actionListener="#{normal.transfer}"/>
            <p:commandButton id="close-dialog-button" value="Close" onclick="PF('dlg').hide();"/>

            <p:growl id="dialog-messages" showDetail="true"/>


        </h:form>
    </p:dialog>


    <div class="transaction-panel">
        <h:form id="transaction-form" style="width: 900px;">
            <p:dataTable var="transaction" id="transaction-grid" value="#{normal.allTransaction}" showGridlines="false"
                         paginatorPosition="bottom"
                         rows="5" paginator="true" style="width: 1000px;">

                <f:facet name="header">
                    <div align="center">
                        <span>Transactions</span>
                    </div>
                </f:facet>

                <p:column headerText="Transaction ID">
                    <h:outputText value="#{transaction.transactionId}"/>
                </p:column>

                <p:column headerText="Transaction Timestamp">
                    <h:outputText value="#{transaction.transactionTimeStamp}"/>
                </p:column>

                <p:column headerText="Amount">
                    <h:outputText value="#{transaction.amount}"/>
                </p:column>

                <p:column headerText="Account Src">
                    <h:outputText value="#{transaction.srcAccountId}"/>
                </p:column>

                <p:column headerText="Account Dst">
                    <h:outputText value="#{transaction.dstAccountId}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </div>


</h:body>
</html>