@media only screen and (max-width: 375px), (max-height: 812px) {
    body {
        width: 375px;
        height: 812px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .inputId, .inputName, .inputAddress, .inputDate, .inputNegBall {
        width:310px;
    }
    .inputName, .inputAddress, .inputDate{
        margin-top: -10px;
    }

    .regisTitle{
        font-size: 20px;
        text-align: center;
        justify-content: center;
        margin-left: 80px;
        font-weight: 450;
    }


    .chart{
        width: 355px;
        margin-top: 60px;
        margin-left: -30px;
    }


    .chartPanel, .formPanel {
        float: left;
        display: inline-block;
    }


    .filterId, .filterName, .filterNegBall{
        width: 90px;
        margin-top: 100px;
    }

    .filterName, .filterNegBall{
        margin-left: 20px;
    }

    .gridTransactionPanel, .gridDataPanel {
        float: left;
        display: inline-block;
        width: 360px;
    }

    .gridTransactionPanel{
        margin-top: 20px;
    }


    .uploadPanel {
        width: 25%;
        text-align: center;
        margin: 0 auto;
        padding-top: 200%;

    }






}

@media only screen and (min-width: 1920px) {

    body {
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        width: 1920px;
        height: 1080px;
        display: flex;

    }

    .regisTitle{
        font-size: 20px;
        font-weight: 450;
        margin-left: 170%;
        width: 100%;
    }

    .inputId, .inputName, .inputAddress, .inputDate {
        width: 400%;
    }

    .gridTransactionPanel {
        margin-left: 5%;
    }

    .chartPanel {
        width: 900px;
        margin-left: 700px;
    }


    .chartPanel, .formPanel {
        float: left;
        display: inline-block;
    }

    .chart{
        height:550px;
    }

    .filterName,.filterNegBall{
        margin-left: 20px;
    }

    .gridDataPanel, .gridTransactionPanel{
        width: 45%;
        float: left;
        display: inline-block;
        margin-top: 100px;


    }

    .gridDataPanel{
        margin-left: 20px;
    }

    .gridTransactionPanel{
        margin-top: 148px;
    }

    .uploadPanel {
        width: 25%;
        text-align: center;
        margin: 0 auto;
        padding-top: 20%;
        margin-top: 3%;
    }
}


/*# sourceMappingURL=main.css.map */


